* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7d7d7;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

form {
  /*padding: 3px;*/
}

form label {
  margin: 10px;
}

form input {
  margin: 10px;
  padding: 10px;
}

form input[type=submit] {
  background-color: #ffffff;
  background-image: none;
  border-color: #cccccc; /*transparent;*/
  border-style: solid;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1.428;
  padding: 8px 12px;
}
@media (min-width: 750px) {
  form input[type=submit] {
    /* 95px -35( 13 + 10 + 2 + 10 )px */
    margin-top: 45px;
    /*margin-top: 40px;*/
  }
}
form input[type=submit]:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333333;
}

#search-form {
  /*display: table-row;*/
  margin: 15px;
}
#search-form:before,
#search-form:after {
  display: table;
  content: " ";
}
#search-form:after {
  clear: both;
}
#search-form .input-group {
  position: relative;
  float: left;
  width: 100%;
}
#search-form .input-group label,
#search-form .input-group input {
  position: relative;
  float: left;
  width: 100%;
}
@media (min-width: 750px) {
  #search-form .input-group {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 25%;
  }
}

.search-box {
  margin: 0 auto;
  width: 100%;
}

/* Style the tab */
.tab {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  background-color: #f1f1f1;
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  float: left;
  font-size: 17px;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #dddddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #cccccc;
}

/* Style the tab content */
.tabcontent {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  display: none;
  padding: 6px 12px;
}
